@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    margin: 0 auto;
    background: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/280h/GNFGLNP2G7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.ui-sortable {
    min-height: 80px;
}

.btn-delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background-color: rgba(192, 57, 43,1.0);
    color: white;
}

.board > .create-column {
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 25px #0F026D;
    cursor: pointer;
}

/* BOARD */
.board h1 {
    text-align: center;
    color: dimgray;
    font-size: 56px;
    letter-spacing: 5px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px 5px #0F026D;
}

.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

/* COLUMN */
.column {
    min-width: 300px;
    min-height: 20vh;
    background-color: lightgreen;
    margin-left: 8px;
    padding: 20px;
    list-style: none;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 25px #0F026D;
}
.column-add-card {
    cursor: pointer;
    text-decoration: underline;
    margin: 5px 8px;
    display: block;
}

/* STYLE KARTY */
.card {
    box-sizing: border-box;
    display: block;
    height: 60px;
    margin-bottom: 5px;
    padding: 4px;
    overflow: hidden;
    position: relative;
}
.card-list {
    list-style: none;
    margin: 5px;
    padding: 0px;
}

.card-description {
    margin: 2px 0;
}

.card-placeholder {
    box-sizing: border-box;
    display: block;
    height: 60px;
    margin-bottom: 5px;
    border: 2px solid ;
    background-color: lightblue;
}